.stApp {
    /*background-color: black;
    color: white;
    font-family: 'Signika Negative', sans-serif;*/
    background-color: bisque;
    color: black;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}