header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 28px;
    left: 50;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb . . . "; 
    background-color: #141414;
    width: 100%;
    margin-bottom: 0px;  
}

.netflixLogo {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
}

.netflixLogo img {  
    height: 35px;     
}

.main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
}
  
.main-nav a {
    color: #F3F3F3;
    text-decoration: none;
    margin: 5px;  
}
  
.main-nav a:hover {
    color: #686868;
}
  
.sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
}
  
.sub-nav a {
    color: #F3F3F3;
    text-decoration: none;
    margin: 5px;
}
  
.sub-nav a:hover {
    color: #686868;
}





.stApp {
    background-color: #0063c4;
    background: linear-gradient(#034484 0%,#0063c4 27%);
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif,system-ui,Helvetica,Arial,sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 40px;
}